<div class="row">
  <div class="panel panel-default list-orders">
    <div class="panel-heading title-order">
      <p>
        <%= t ".order_html",
          link: link_to(order.id, order),
          link1: link_to(t(".detail_textlink"), order) %>
      </p>
      <p><%= t ".order_date", day: order.created_at %></p>
    </div>
    <div class="panel-body body-order">
      <p><%= t ".title_all_product" %></p>
      <ul>
        <%= render partial: "order_detail", collection: order.order_details %>
      </ul>
    </div>
  </div>
</div>
