<div class="col-xs-6 col-md-3">
  <%= link_to image_tag(@product.product_images[0].picture.url,
    size: "242x200", alt: @product.name),
    @product.product_images[0].picture.url,
    class: "thumbnail" %>
</div>
