<%= form_with url: carts_path(id: @product.id), method: :post do |f| %>
  <div class="input-group">
    <%= f.label :quantily, class: "input-group-addon" %>
    <%= f.number_field :quantily, value: Settings.default_quantily,
      max: @product.quantily, min: Settings.min_quantily, class: "form-control" %>
  </div>
  <br>

  <%= f.submit t(".add_cart_text"),
    class: "form-control btn btn-success" %>
<% end %>
